<div hx-get='/aboutus' hx-push-url='/aboutus' hx-trigger='load' hx-target='#content' hx-indicator="#spinner"
	hx-swap='morph show:window:top' preload="mouseover" preload-images="true"
	class="ml-10 flex items-baseline space-x-2">
	<button hx-get='/menu?cat=products' hx-target='#menu' class="menu-deselected">Products</button>
	<button hx-get='/menu?cat=technology' hx-target='#menu' class="menu-deselected">Technology</button>
	<button hx-get='/menu?cat=contact' hx-target='#menu' class="menu-deselected">Contact</button>
	<button hx-get='/menu?cat=aboutus' hx-target='#menu' class="menu-selected" aria-current="page">About
		Us</button>
</div>