<div hx-get='/products' hx-push-url='/products' hx-trigger='load' hx-target='#content' hx-swap='innerHTML'
	class="ml-10 flex items-baseline space-x-2">
	<button hx-get='/menu?cat=products' hx-target='#menu'
		class="rounded-md px-3 py-2 text-sm font-medium bg-gray-900 text-white text-nowrap"
		aria-current="page">Products</button>
	<button hx-get='/menu?cat=technology' hx-target='#menu'
		class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white text-nowrap">Technology</button>
	<button hx-get='/menu?cat=downloads' hx-target='#menu'
		class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white text-nowrap">Downloads</button>
	<button hx-get='/menu?cat=aboutus' hx-target='#menu'
		class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white text-nowrap">About
		Us</button>
</div>