<section id="about" class="animate-fade m-4 p-4 container mx-auto text-center text-sm">
	<h2 class="text-xl font-semibold text-blue-400 mb-4">About TechNex</h2>
	<p class="text-gray-300 max-w-3xl mx-auto mb-4">TechNex was founded on the belief that technology has the power to
		transform lives. Our team works tirelessly to source products that blend functionality with style. Join us in
		exploring the future of technology.</p>
	<img src="./public/img/technex_team.webp" alt="TechNex Team" class="rounded-lg max-w-md mx-auto shadow-lg mt-4">
</section>