<div class="max-w-md shadow-md overflow-hidden md:max-w-4xl">
	<div class="md:flex">
		<div class="md:shrink-0 left-0">
			<aside id="default-sidebar" class="h-48 w-full md:fixed left-0 object-cover md:h-full md:w-48 shadow-xl "
				aria-label="Sidebar">
				<?hhp 
					final catStr = this.category != null ? '?cat=${this.category}' : '';
					this.echo('<div id="productCategories" hx-get="/products/sidebar${catStr}" hx-trigger="load"
					hx-swap="innerHTML"></div>');
					?>
			</aside>
		</div>
		<div id="productContent" class="md:ml-48 p-6 items-center justify-between">
			<?hhp 
			if(this.category == null) {
				this.echo('<div hx-trigger="load" hx-get="/products/home"  hx-push-url='/products/home' hx-target="#productContent" hx-swap="innerHTML"></div>');
			} else {
				final catStr = '?cat=${this.category}';
				this.echo('<div hx-trigger="load" hx-get="/products${catStr}" hx-push-url="/products${catStr}"  hx-target="#productContent" hx-swap="innerHTML"></div>');
			}
			?>
		</div>
	</div>
</div>