<div class="max-w-md shadow-md overflow-hidden md:max-w-2xl">
	<div class="md:flex">
		<div class="md:shrink-0 left-0">
			<aside id="default-sidebar" class="h-48 w-full object-cover md:h-full md:w-48" aria-label="Sidebar">
				<?hhp 
					final catStr = this.category != null ? '?cat=${this.category}' : '';
					this.echo('<div id="productCategories" hx-get="/products/sidebar${catStr}" hx-trigger="load"
					hx-swap="innerHTML"></div>');
					?>
			</aside>
		</div>
		<div id="productContent" class="p-4 items-center justify-between">
			<?hhp 
			final catStr = this.category != null ? '?cat=${this.category}' : null;
			trace('catStr:$catStr');
			if(catStr!=null) {
				this.echo('<div hx-trigger="load" hx-get="/products/home" hx-target="#productContent" hx-swap="innerHTML"></div>');
			} else {
				this.echo('<div hx-trigger="load" hx-get="/products${catStr}" hx-target="#productContent" hx-swap="innerHTML"></div>');
			}
			?>
		</div>
	</div>
</div>