<div class="animate-fade-in text-2xl text-white">
	<h1>Products</h1>
</div>
<div class="animate-fade text-white text-sm py-6">
	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id risus nec diam tincidunt tincidunt. Quisque
		utornare mauris. Aliquam bibendum, eros lobortis eleifend consectetur, libero turpis pulvinar mi, at tincidunt
		tellusenim volutpat metus.</span>
	<br>
	<br>
	<span>Nulla placerat tellus sit amet justo tincidunt feugiat. Nam eleifend urna ac faucibus
		faucibus.Pellentesque quis dictum dolor. Nam a vestibulum turpis, sit amet lobortis ex. Proin luctus lorem orci, ut
		ultricesfelis molestie in. In eu tempor sapien, eget pharetra enim.</span>
	<br>
	<br>
	<span>Class aptent taciti sociosqu ad litora torquent
		perconubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus.</span>
</div>